* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.frame {
    padding: 1.2rem;
    text-align: center;
    max-width: fit-content;
    background-color: red;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    background-color: white;
}

.cell:hover {
    background-color: black;
}